/* Page Setup */
html, body {
    margin: 0;
    padding: 0;
}

.right-align {
    text-align: right;
}

/* What you need */
.page {
    height: 1017px;
    position: relative;
    padding: 0 40px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 40px;
}

