/* Page Setup */
html, body {
    margin: 0;
    padding: 0;
}

.right-align {
    text-align: right;
}

.page {
    margin: 0 40px;
}

/* What you need */
.footer {
    padding: 0 40px;
    width: 100%;
}

.p1 {
    margin-top: 180px;
}

.p2 {
    margin-top: 335px;
}
